ul {
    list-style-type: none;
    margin: 5rem;
    padding:0px;
    overflow: hidden;
  }
  
  .navbar {
    display: ruby;
  }
  #info{margin-left: 30rem; 
     
  
  }
  body{
    background: linear-gradient(to right, white, #feb47b);

  }
  #edu{
      background-color: grey;
  }
  a:hover {
    background-color: yellow;
    font-size: 18px;
  }
  img{height: 300px;
  width: auto;}
  table, th, td { background-color: burlywood;
      border:1px solid black;}
      ul {
        list-style-type: none;
        margin: 5rem;
        padding:0px;
        overflow: hidden;
      }
      .navbar {
        display: ruby;
      }
      #info{margin-left: 30rem; 
          background-color: grey;
      }
      a:hover {
        background-color: yellow;
        font-size: 18px;
      }
      img{height: 30rem;
      width: auto;}
      #first{
          display: ruby;
      }
       h1, h2, h3 {
        color: #225385;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
        font-style: italic;
    }
    a {
        color: black;
        text-decoration: underline;
        font-weight: bold;
    }
   