.body
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
ul {
    list-style-type: none;
    padding:0px;
    overflow: hidden;
  }
  .heading{
 
    justify-content: center;
    display: flex;
   }
p{
    border: 0.2REM dotted black;
    display: inline-block;
}

  body{
    background: linear-gradient(to right, white, #feb47b);

  }
  #edu{
      background-color: grey;
     
  }
  a:hover {
    background-color: yellow;
    font-size: 18px;
  }
  img{height: 300px;
  width: auto;}
  table, td { background-color: burlywood;
      border:1px solid black;}
      table, th{
        background-color: crimson;
      }
      ul {
        list-style-type: none;
        margin: 5rem;
        padding:0px;
        overflow: hidden;
      }
  
      #info{
          background-color: grey;
      }
      a:hover {
        background-color: yellow;
        font-size: 18px;
      }
      img{height: 30rem;
      width: auto;}
      #first{
          display: ruby;
      }
       h1, h2, h3 {
        color: #225385;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
        font-style: italic;
    }
    a {
        color: black;
        text-decoration: underline;
        font-weight: bold;
    }
   footer{
    display: flex;
    margin: 0rem 5rem;
    font-size: 1.5rem;

   }
   footer P{
    margin-left: 30rem;
   }
   footer h5{
    color: crimson;
    font-family: 'Times New Roman', Times, serif;   }
    
    .button {
      padding: 12px 24px;
      background-color: #1d84c9;  /*  blue color */
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      display: inline-block;
  }
  .button:hover{
    font-size: 15px;
    background-color: black;
  
  }
  #button {
    background-color: #1d84c9;  /*  blue color */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
}
.container{
  background-color: rgb(137, 111, 161);
  color: white;
  margin: 2rem 2rem 2rem 0rem;
display:inline-block;
padding:1rem 2rem;
border: none;
border-radius: 0.5rem;
}
